services:
  crowdfunding-fe:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crowdfunding-fe
    ports:
      - '8386:8386'
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - crowdfunding-network

networks:
  crowdfunding-network:
    driver: bridge
